@model IEnumerable<LecturerCompare.Models.Categories>

<div id="container" class="container">
    @foreach (LecturerCompare.Models.Categories cat in Model)
    { 
    <div class="block">
        <legend>@cat.Title</legend>
        <img src="http://th07.deviantart.net/fs71/PRE/f/2011/245/5/5/sexy_teacher_by_scbr-d48lisl.jpg">
        <a class="btn btn-default" href="~/Categories/Details/@cat.Id">לחץ כאן להשוואה</a>
        <div class="shr_box4"></div>
        <div class="shl_box4"></div>
    </div>
    } 
</div>
<script>
        $(document).ready(function () {
            $('#container').BlocksIt({
                numOfCol: 4,
                offsetX: 8,
                offsetY: 8,
                blockElement: '.block'
            });
        });
</script>