@model LecturerCompare.Models.Rank_Types


    <hr />
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;@ViewBag.Title</h3>
        </div>
        <div class="panel-body details-bg">
            <div class="row">
        <div class="form-horizontal">
    		<div class="form-group">
    			@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
    			<div class="col-md-10">
    				@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    			</div>
    		</div>
    
        </div>
    </div>
    </div>
    <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
        @Html.ActionLink("ערוך", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })&nbsp;|&nbsp;
        @Html.ActionLink("חזור לרשימה", "Index")
    			</div>
            </div>
        </div>
    </div>
